/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroSvg {
  /* Imposta la dimensione quadrata che desideri */
  margin-top: 20px;
  width: 150px;
  height: 150px;

  /* Aggiunge un po' di spazio tra il bottone e l'icona */
  margin-left: 1rem;
  
  /* Opzionale: allinea verticalmente l'icona con il bottone */
  vertical-align: middle; 
}